<div class="product-details-wrapper">
  @if (selectedProduct()) {
    <div class="product-details-card">
      <div class="product-image-container">
        <img [src]="selectedProduct()?.image" alt="Product Image" class="product-image" />
      </div>

      <div class="product-info">
        <h2 class="product-title">{{ selectedProduct()?.title }}</h2>
        <p class="product-description">{{ selectedProduct()?.description }}</p>
        <p class="product-price">$ {{ selectedProduct()?.price }}</p>
      </div>
    </div>
  } @else {
    <div class="not-found">
      <p>Product not found.</p>
    </div>
  }
</div>
