<div class="signup-main">
    <div class="signupContainer">
        <h2>Signup</h2>

        <form [formGroup]="signupForm" (ngSubmit)="onSignup()" class="signupForm">
            <input type="text" formControlName="username" placeholder="username" autocomplete="off" />

            @if (username?.touched && username?.invalid) {
            <div class="error">
                @if (username?.errors?.['mustStartWithAt']) {
                <small>Username must start with '&#64;'.</small>
                }
                @if (username?.errors?.['invalidCharacters']) {
                <small>Only letters and numbers allowed after '&#64;'.</small>
                }
            </div>
            }

            <input type="email" formControlName="email" placeholder="email" autocomplete="off" />

            @if (email?.touched && email?.invalid) {
            <div class="error">
                @if (email?.errors?.['required']) {
                <small>Email is required.</small>
                }
                @if (email?.errors?.['email']) {
                <small>Invalid email format.</small>
                }
            </div>
            }

            <div class="passwordDiv">
                <input [type]="passwordHidden() ? 'password' : 'text'" formControlName="password" placeholder="password" />
                
                <button type="button" (click)="showHidePassword()" class="showHidePasswordBtn">
                    {{ passwordHidden() ? 'Show' : 'Hide' }} Password
                </button>

            </div>

            @if (password?.touched && password?.invalid) {
            <div class="error">
                @if (password?.errors?.['required']) {
                <small>Password is required.</small>
                }
                @if (password?.errors?.['minlength']) {
                <small>Password must be at least 8 characters long.</small>
                }
            </div>
            }

            <button type="submit" class="signupBtn" [disabled]="signupForm.invalid">
                Signup
            </button>
        </form>

        <p class="loginPara">
            Already have an account?
            <a routerLink="/login">Login here</a>
        </p>
    </div>
</div>